header
  .header-container
    div
      img(src='../../images/header/codatechLogoSmall.png')
    .nav-container
      nav
        ul.nav-list-options
          li
            a(href='') Opción 1
          li
            a(href='') Opción 2
          li
            a(href='') Opción 3
          li
            a(href='') Opción 4
          .option-five-container
            div
              li
                a(href='') Opción 5
            #arrow-menu
              img.arrow-option(width='50%' src='../../images/icon-arrow-down.png')
            img.arrow-menu(src='../../images/arrow-menu.png')
            ul.list-menu
              li Submenú Opción 1
              li Submenú Opción 2
              li Submenú Opción 3
    .language-container
      a(href='') ES
      a(href='') EN