footer
  .footer-container
    .icon-footer-container
      img(src='../../images/header/codatechLogoSmall.png')
      div
        a(href='') &copy; 2019 CodaTech. Todos los derechos reservados
    .nav-footer-container
      nav
        ul.nav-footer-list-options
          .social-media-container
            li
              a(href='')
                img(width='60%' src='../../images/instagram.png')
            li
              a(href='')
                img(width='60%' src='../../images/linkedin.png')
            li
              a(href='')
                img(width='60%' src='../../images/youtube.png')
            li
              a(href='')
                img(width='60%' src='../../images/facebook.png')