extends ../base/pug/layout.pug

block header
    include ../base/partials/header/header.pug

block content
    include ../base/partials/main/main.pug

block footer
    include ../base/partials/footer/footer.pug