meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no")
meta(name="description" content="")
meta(name="keywords" content="")
link(rel="canonical" href="")
link(rel="alternate" hreflang="es-ES")
link(rel="stylesheet" type="text/css" href="css/vendors.min.css")
link(rel="stylesheet" type="text/css" href="css/styles-maqueta.css")
link(rel="icon" href="images/favicon.svg")
link(rel="apple-touch-icon" href="images/favicon.svg")